.row
  .small-8.small-centered.columns#verification
    %h4= "Did #{@borrow.borrower.name} return your #{@borrow.item.name}? Select one:"
    =form_tag "/items/return", :remote => true do
      %fieldset
        %legend Return
        =radio_button_tag :answer, "yes"
        =label_tag :yes
        %br
        %br
        =radio_button_tag :answer, "no"
        =label_tag :no
        =hidden_field_tag "borrow", @borrow.id
        %br
        %br
        =submit_tag "Enter"
